<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Test Page</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <p class="navbar-brand"  style="align:center"> Quantified - Bitbucket </p>
    </div>
    <!-- Top Menu Items -->
</nav>

<div id="page-wrapper" style="width:800px;height:400px;top:70%;margin-left:300px;margin-top:180px">

<div class="container-fluid">
       <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1 align="center">Sign Up</h1>
        <p align="center">Sign up with Bitbucket </p>
        <p align="center"><a href="/auth/bitbucket" class="btn btn-primary btn-lg" role="button">Sign Up</a>
        </p>
        <p align="center"><a href="#"> Already have an account? Log in </a></p>
    </div>
</div>
<!-- /.container-fluid -->
</div>
</body>
</html>